<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataVizHub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/top-navigator.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-iframe.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
</head>

<body data-username="{{ username|escapejs }}">
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">DataVizHub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" data-url="{% url 'introduction' %}"
                            href="#">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-url="{% url 'models' %}" href="#">Models</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-url="{% url 'workspace' %}" href="#">Workspace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-url="{% url 'support' %}" href="#">Support</a>
                    </li>
                    <li>
                        <a class="nav-link disabled" aria-disabled="true">welcome {{username}}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'login-customer' %}" id="login-customer">Login</a>
                        <a class="btn btn-light" href="{% url 'user-center' %}" id="user-center" hidden>{{username}}</a>
                    </li>
                    <!-- <li class="nav-item" id="user-center-container" hidden>
                        <a class="btn btn-success" href="#" id="user-center">User Center</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- sub page iframe -->
    <iframe id="customerFrame" name="customerFrame" src="{% url 'introduction' %}"></iframe>
    <script src="{% static 'js/customer/top-navigator.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>