<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataVizHub - Introduction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
    <header class="bg-primary text-white text-center py-5">
        <h1>Welcome to DataVizHub</h1>
        <p>dataset management, Statistical Analysis, and Visualization Tools</p>
    </header>

    <div class="container my-5">
        <section class="text-center">
            <h2>What is DataVizHub?</h2>
            <p>DataVizHub is a powerful platform designed for data analysis and statistical chart production. It
                provides dataset management, statistical analysis, and visualization tools such as line charts, bar
                charts and interactive dashboards to help you gain real-time insights into data trends and
                make smarter decisions.</p>
        </section>

        <section>
            <h3>Why is DataVizHub useful?</h3>
            <ul class="list-group">
                <li class="list-group-item">Data visualization is easy to understand: Quickly discover trends, patterns,
                    and outliers through graphical displays.</li>
                <li class="list-group-item">Interactive exploration:You can filter, zoom, and customize charts to analyze your data in depth.</li>
                <li class="list-group-item">Rich chart types:A variety of chart types are available to better express your data.</li>
                <li class="list-group-item">Lower technical barriers:Intuitive drag-and-drop analysis, no programming skills are required
                     to get started.</li>
            </ul>
        </section>

        <section class="my-5">
            <h3>Use Cases for DataVizHub</h3>
            <p>DataVizHub is suitable for various industries, such as agriculture, transportation, energy, healthcare,
                and more. Below are some of the key use cases:</p>
            <ul class="list-group">
                <li class="list-group-item"><strong>Finance and Stock Markets:</strong> Use DataVizHub to explore stock trends, monitor trading volumes, and predict market movements.</li>
                <li class="list-group-item"><strong>Healthcare:</strong> Keep track of disease spread, hospital resource usage, and patient health trends with easy-to-understand visuals.</li>
                <li class="list-group-item"><strong>Marketing and Business:</strong> Quickly understand consumer behavior, identify sales patterns, and measure how effective your marketing strategies really are.</li>
                <li class="list-group-item"><strong>Sports Analysis:</strong> Whether you're assessing player performance, planning winning team strategies, or analyzing detailed game data, DataVizHub makes it simple and intuitive.</li>
            </ul>
        </section>

        <section class="my-5 text-center">
            <h3>Get Started with DataVizHub</h3>
            <p>Whether you're working on scientific research, clinical data, or business reports, 
                DataVizHub has the tools you need. Create professional and beautiful statistical charts easily. 
                Start using our platform today to improve your data analysis and presentation!</p>
        </section>
    </div>

    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2025 DataVizHub - All Rights Reserved</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>