{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <title>Register</title>
</head>

<body class="d-flex align-items-center justify-content-center vh-100 bg-light">
    <div class="position-absolute top-0 start-0 m-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">back to home</a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h3 class="text-center">Register</h3>
                        <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Register</button>
                        </form>
                        <div class="text-center mt-3">
                            <a href="{% url 'login-customer' %}" class="text-muted">Already have an account? Login</a>
                        </div>
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}