{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <title>Workspace</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="margin-top: 250px;">
        <div class="text-center">
            <h1 class="display-4 mb-4">Visualize Your Data</h1>
            <p class="lead mb-4">Try DataVizHub for free</p>
            <p class="mb-4">Full-version trial. No credit card required.</p>
            <a class="btn btn-primary btn-lg" id="enter-workbench">Enter Workbench</a>
        </div>
    </div>
    <script src="{% static 'js/workspace/enter.js' %}"></script>
</body>
{% endblock %}