.nav-item.active {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #eeeeee;
    color: white;
}

.nav-item:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #eeeeee;
    color: white;
}