{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <title>User File Manager</title>
    <link rel="stylesheet" href="{% static 'css/work-file.css' %}">
</head>

<body class="bg-light">
    <div class="container-fluid vh-100 d-flex flex-column mt-1 mx-1 p-1">
        <!-- File Upload Section -->
        <div class="card p-2 mb-2">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-semibold mb-0">Upload a New File</h5>
                <button class="btn btn-primary btn-sm" id="uploadBtn">
                    <i class="bi bi-cloud-upload"></i> Upload
                </button>
            </div>
            <input type="file" id="fileInput" class="form-control form-control-lg mt-2 p-3 text-center border border-2">
        </div>

        <!-- File Explorer Section -->
        <div class="card p-2">
            <h5>Your Files</h5>
            <div id="filePath" class="mb-2"></div> <!-- Path Display Here -->
            <ul class="list-group" id="fileList">
                <!-- Files will be dynamically listed here -->
            </ul>
        </div>
    </div>

    <script src="{% static 'js/workspace/file.js' %}"></script>
    <script src="{% static 'js/workspace/file-load.js' %}"></script>
</body>

{% endblock %}